<!DOCTYPE HTML>
<html lang="en">
<head>
  <!-- when using the mode "code", it's important to specify charset utf-8 -->
  <meta charset="utf-8">

  <title>Neo4j Visualization - Config</title>

<!-- jsoneditor CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jsoneditor@9.5.1/dist/jsoneditor.min.css" 
integrity="sha256-ZiETervnaX4jwTNsaupilMUe3oWuVwn1g3nQYO/8aAU=" crossorigin="anonymous">

<!-- jsoneditor -->
<script src="https://cdn.jsdelivr.net/npm/jsoneditor@9.5.1/dist/jsoneditor.min.js" 
integrity="sha256-9tv51T541jtZpCqXhOj30kJqKPohDUb5sWC/pDOWhdw=" crossorigin="anonymous">
</script>

<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" 
integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous">
</script>

<!-- neovis -->
<script src="{{url_for('static', filename='neovis.js/dist/neovis.js')}}"></script>

  <style type="text/css">
    body {
      font: 10.5pt arial;
      /* color: #4d4d4d; */
      /* line-height: 150%; */
      /* width: 95%; */
      /* height: 95%; */
    }

    code {
      background-color: #f5f5f5;
    }

    #jsoneditor {
      width: 50%;
      height: 400px;
    }
    #viz {
      width: 100%;
      height: 750px;
      border: 1px solid lightgray;
      font: 22pt arial;
        margin: 10px;
     }

  </style>

<script type="text/javascript">
  //get config and draw with neovis.js
  var viz;

  function draw(config) {

    //console.dir(config);
    viz = new NeoVis.default(config);
    viz.render();
    //console.log(viz);

  }
  </script>

</head>

<body>

<h2> Config Editor Helper </h2>

<div id="jsoneditor"></div>

<script>
  //
  const container = document.getElementById('jsoneditor')

  const options = {
    mode: 'tree',
    modes: ['code', 'form', 'text', 'tree', 'view', 'preview'], // allowed modes
    onError: function (err) {
      alert(err.toString())
    },
    onModeChange: function (newMode, oldMode) {
      console.log('Mode switched from', oldMode, 'to', newMode)
    }
  }

  const initjson = {
  "container_id": "viz",
    "neo4j": {
      "server_url": "bolt://localhost:7687",
      "server_user": "",
      "server_password": ""
   },
   "initial_cypher": "MATCH p=()-[]-() RETURN p LIMIT 100"
  }

  const editor = new JSONEditor(container, options, initjson)
  //const updatedJson = editor.get()
</script>

<!-- Submit: <textarea rows="4" cols=50 id="cypher"></textarea><br> -->
<input type="submit" value="Submit" id="reload">

<h2> Graph Vizualization </h2>
<div id="viz"></div>

<input type="submit" value="Stabilize" id="stabilize">

</body>

<script>
	$(document).ready(function () {
		draw(initjson);
	})

	$("#reload").click(function () {
    var updatedJson = editor.get();
		draw(updatedJson);
	})

	$("#stabilize").click(function () {
		viz.stabilize();
	})

</script>

</html>
