<!DOCTYPE html>
<html lang="en">
<head>
<title>Graph Editor - Canvas</title>
<meta charset="utf-8">

<!-- jsoneditor CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jsoneditor@9.5.1/dist/jsoneditor.min.css" 
integrity="sha256-ZiETervnaX4jwTNsaupilMUe3oWuVwn1g3nQYO/8aAU=" crossorigin="anonymous">

<!-- jsoneditor -->
<script src="https://cdn.jsdelivr.net/npm/jsoneditor@9.5.1/dist/jsoneditor.min.js" 
integrity="sha256-9tv51T541jtZpCqXhOj30kJqKPohDUb5sWC/pDOWhdw=" crossorigin="anonymous">
</script>

<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" 
integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous">
</script>

<!-- neovis -->
<script src="{{url_for('static', filename='neovis.js/dist/neovis.js')}}"></script>


<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 15px;
  text-align: center;
}

#row {
  display:table;
  text-align: center;
  vertical-align: middle;
  width:100%;
  height:100%;
  box-sizing: border-box;
  position: relative
}

#editor {
  float: left;
  text-align: right;
  width: 30%;
  height: 800px;
  padding: 15px;
}

#viz {
  float: right;
  text-align: center;
  width: 70%;
  height: 900px;
  padding: 15px;
}

</style>

    <script type="text/javascript">
        //get config and draw with neovis.js
        var viz;
    
        function draw(config) {
    
        //console.dir(config);
        viz = new NeoVis.default(config);
        viz.render();
        //console.log(viz);
    
        }
    
        function parse_dynamic_obj(obj, final_obj) {
        for (const [key, value] of Object.entries(obj)) {
            try {
                k = key.replace(/[\[\]']+/g,'');
                k = eval(k);
            } catch (e) { }
    
            if (value && typeof value === 'object' && Object.keys(value).length > 0) {
                final_obj[k] = {}
                parse_dynamic_obj(value, final_obj[k]);
            } else {
                final_obj[k] = value;
            }
        }
        return final_obj;
        }
    
    </script>

</head>
<body>

<div class="header">
  <h1>Graph Canvas</h1>
  <input type="submit" value="Stabilize" id="stabilize">
</div>

<div class="row">
  <div id="editor">
    <h2 style="text-align:left;">Config Editor</h2>
    <input type="submit" value="Draw" id="reload">
  </div>
  
  <div id="viz"></div>
</div>

<script>
    //
    const container = document.getElementById('editor')
  
    const options = {
      mode: 'tree',
      modes: ['code', 'form', 'text', 'tree', 'view', 'preview'], // allowed modes
      onError: function (err) {
        alert(err.toString())
      },
      onModeChange: function (newMode, oldMode) {
        console.log('Mode switched from', oldMode, 'to', newMode)
      }
    }
  
    const initconf = {
    "container_id": "viz",
      "neo4j": {
        "server_url": "neo4j://localhost:7687",
        "server_user": "neo4j",
        "server_password": "neo1234"
     },
     "initial_cypher": "MATCH p=()-[]-() RETURN p LIMIT 100"
    }
  
    const editor = new JSONEditor(container, options, initconf)
    //const updatedJson = editor.get()
  </script>


</body>

<script>
	$(document).ready(function () {
    //console.log(initconf);
		draw(initconf);
	})

	$("#reload").click(function () {
    var updatedJson = editor.get();
    var conf = parse_dynamic_obj(updatedJson, {});
    //console.log(updatedJson);
    //console.log(conf);
		draw(conf);
	})

	$("#stabilize").click(function () {
		viz.stabilize();
	})

</script>

</html>
