<html>
    <head>
        <title>Neo4j Visualization</title>
        <meta charset="UTF-8">
        <style type="text/css">
          /*  #viz {
                width: 900px;
                height: 700px;
            }*/
        </style>
        <script src="{{url_for('static', filename='neovis.js/dist/neovis.js')}}"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous">
        </script>
    </head>
    <script>
        var input = '{{ query }}';
        var config = JSON.parse(atob(input));
        //document.write(JSON.stringify(config,null,'\t'));
        console.dir(config);
        function draw() {
            var viz = new NeoVis.default(config);
            viz.render();
            console.log(viz);
        }
    </script>
    <body onload="draw()">
        <div id="viz"></div>
        The CYPHER query is <b> <script> document.write(config.initial_cypher) </script> </b>.
    </body>
    <script>
        $('#reload').click(function () {
    
            var cypher = $('#cypher').val();
    
            if (cypher.length > 3) {
                viz.renderWithCypher(cypher);
            } else {
                console.log('reload');
                viz.reload();
    
            }
    
        });
    
        $('#stabilize').click(function () {
            viz.stabilize();
        });
    
    </script>
</html>
