<!DOCTYPE html>

<style>
    #slider {
        width: 250px;
        margin: 100px auto;
    }

</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nouislider@15.2.0/dist/nouislider.css"
    integrity="sha256-pxE3J1L9HNIpWOwG2a7NCLQGVfusHcaHLDkbQax9sbY=" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/nouislider@15.2.0/dist/nouislider.js"
    integrity="sha256-eMWSeWmsqGaIrzKYPqU2SmbxCRD0CjxxFIO/QBatiIg=" crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/wnumb@1.2.0/wNumb.min.js"
    integrity="sha256-DkHIFUKQfqQ7jA6GnWR9ZyB4Jb+j+dOuY12vnYq8xjk=" crossorigin="anonymous"></script>

<script>

    var stepsSlider = document.getElementById('slider');

    noUiSlider.create(stepsSlider, {
        start: [0, 1],
        connect: true,
        tooltips: [wNumb({ decimals: 0 }), wNumb({ decimals: 0 })],
        range: {
            'min': [0],
            //'10%': [10, 10],
            //'50%': [80, 50],
            //'80%': 150,
            'max': [5]
        }
    });

    stepsSlider.noUiSlider.on('update', function (values, handle) {
        //inputs[handle].value = values[handle];
        console.log(values);
        console.log(Math.trunc(values[0]));
    });

</script>