<html>
    <head>
        <title>Neo4j Visualization</title>
        <meta charset="UTF-8">
        <style type="text/css">
           #viz {
                width: 100%;
                height: 750px;
            }
        </style>
        <script src="{{url_for('static', filename='neovis.js/dist/neovis.js')}}"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>

    </head>
    <script>
        const initjson = {
                "container_id": "viz",
                    "neo4j": {
                    "server_url": "bolt://localhost:7687",
                    "server_user": "",
                    "server_password": ""
                     },
                "initial_cypher": "MATCH p=()-[]-() RETURN p LIMIT 100"
                }
                
        var input = '{{ query }}';
        console.log(input);

        try {
            var config = JSON.parse(atob(input));

        } 
        catch(err) {
            var config = initjson
        }

        function parse_dynamic_obj(obj, final_obj) {
            for (const [key, value] of Object.entries(obj)) {
                try {
                    k = key.replace(/[\[\]']+/g,'');
                    k = eval(k);
                } catch (e) { }

                if (value && typeof value === 'object' && Object.keys(value).length > 0) {
                    final_obj[k] = {}
                    parse_dynamic_obj(value, final_obj[k]);
                } else {
                    final_obj[k] = value;
                 }
            }
            return final_obj;
        }

        function draw() {
            var conf = parse_dynamic_obj(config, {}); 
            var viz = new NeoVis.default(conf);
            viz.render();
        }
    </script>
    <body onload="draw()">
        <div id="viz"></div>
        <h2> CYPHER query is <b> <script> document.write(config.initial_cypher) </script> </b> </h2> 
    </body>
</html>
