<html>
    <head>
        <title>Neo4j Visualization</title>
        <meta charset="UTF-8">
        <style type="text/css">
          /*  #viz {
                width: 900px;
                height: 700px;
            }*/
        </style>
        <script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
        </script>
    </head>
    <script>
        var input = '{{ query }}';
        var config = JSON.parse(atob(input));
        //document.write(JSON.stringify(config,null,'\t'));
        console.dir(config);
        function draw() {
            var viz = new NeoVis.default(config);
            viz.render();
            console.log(viz);
        }
    </script>
    <body onload="draw()">
        <div id="viz"></div>
        The CYPHER query is <b> <script> document.write(config.initial_cypher) </script> </b>.
    </body>
</html>
